/* ----------------------------------------------------------------------------
 * header样式
 *
 * @author Hu Feng
 * @version 1.0, 2009/4/12
 * -------------------------------------------------------------------------- */
#header {
	margin-top: 20px;
	margin-left: 20px;
	background-image: url(../images/b_logo.jpg);
	background-repeat: no-repeat;
	height: 70px;;
	background-image: url(../images/b_logo.jpg);;
	background-image: url(../images/b_logo.jpg);
}

#htext {
	margin-top: 15px;
	margin-right: 20px;
	margin-bottom: 2px;
	text-align: right;;
}

#banner {
	margin-right: 20px;
	margin-left: 90px;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
	font-family: "宋体", "arial";
	color: black;
	background: #dfe8f6;
	text-align: left;
}